<div class="recent">
    <h2>MOST RECENT ARTICLES</h2>
    <ul>
    {% assign post_count = 0 %}
    {% for post in site.posts %}
        {% if post.layout != 'quote'  %}
            {% assign post_count = post_count | plus: 1 %}
            {% if post_count < 5 %}
        <li>
            {{post.date | date: "%d-%b-%Y" | upcase }} - 
            <a href="{{post.url}}">{{post.title}}</a>
        </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
    <a href="/archive/index.html" class="sidebar-button">VISIT THE <strong>ARCHIVE</strong></a>
</div> 