@media (max-width: 769px){
    .container{
        display: grid;
        grid-template-columns:  [window-left] auto 
                                [content-left] 450px 
                                [content-right sidebar-left] 170px 
                                [sidebar-right] auto
                                [window-right];
        grid-template-rows:     [nav-top] 50px
                                [nav-bottom breadcrumb-top] 50px
                                [breadcrumb-bottom content-top] minmax(1px,auto) 1fr
                                [content-bottom];
    }
    .content{
        padding: 1rem;
    }
    .sidebar .recent h2{
        font-size: .8rem;
    }
}