---
layout: default
recent: true
topics: true
---
<!-- Just some nice to have styles for the pager buttons -->

<div class="home">

  <h1 class="page-heading">{% if page.autopages %}{{page.autopages.display_name | upcase}}{% endif %} ( Page {{page.pagination_info.curr_page}} of {{page.pagination_info.total_pages}})</h1>

  {{ content | markdownify }}
{{page.url}}
  <div class="home-posts">
    {% for post in paginator.posts %}
    <a href="{{post.url}}">
        <h2>{{post.title}}</h2>
        <div class="home-post-date">{{post.date | date: "%d-%b-%Y" | upcase }}</div>
        <div class="home-excerpt">{{post.excerpt | truncatewords: 30}}</div>
    </a>
    {% endfor %}
    </div>
    {% include paginator.partial.html %}
</div>